@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";


@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap');


@font-face {
  font-family: "Edu NSW ACT Cursive";
  src: url("/fonts/EduNSWACTCursive-VariableFont_wght.ttf") format("truetype");
  font-weight: 400 700; 
  
}

body {
  font-family: "Edu NSW ACT Cursive", cursive;
  background: linear-gradient(135deg, #fffaf5 0%, #f5f0ef 50%, #fffaf5 100%);
}





